@use "../../../utils/" as *;

.popular-blog {
  i {
    color: $clr_primary_main;
    fill: currentColor;
  }
  .popular-post {
    @include d_flex(row, start, start, nowrap, false, 0);
    background-color: $clr_bg_paper;
    padding: $s_3;
    margin: $s_3;
    h3 {
      @include mq("lg") {
        @include fs("caption");
      }
    }
    span.number {
      @include fs("title-s");
      color: $clr_natural_4;
      height: 100%;
      width: 25%;
      @include mq("lg") {
        @include fs("h1");
      }
    }
    .blog-posts {
      max-width: 70%;
      .paragraph {
        @include fs("body-s");
      }
    }
  }
}
