@use "../../../utils/" as *;

.popular-blog {
  i {
    color: $clr_primary_main;
    fill: currentColor;
  }
  .popular-post {
    @include d_flex(row, start, center, nowrap, false, 0);
    width: 70%;

    span.number {
      @include d_flex(column, start, center, nowrap, false, 0);
      @include fs("title-s");
      color: $clr_natural_4;
      height: 100%;
      width: 20%;
    }
    .blog-posts {
      max-width: 100%;
      .paragraph {
        @include fs("body-s");
      }
    }
  }
}
