@use "../utils/" as *;
.header {
  height: 100px;
  position: absolute;
  top: $s_8;
  @include d_flex(row, space-between, center, nowrap, false, $s_3);
  width: 90%;
  margin: 0 $s_5;
  .contain {
    display: flex;
    width: 30%;
    gap: $s_3;
  }

  .menu-nav {
    padding: $s_5;
    background-color: rgba(0, 0, 0, 0.5);
  ul {
    color: $clr_natural_1;
    @include d_flex(row, center, center, nowrap, false, $s_7);
  }
  .sub-menu {
    display: none;
    position: absolute;
    transition: ease-in-out 5s;
  }
  .menu-item-has-children:hover .sub-menu {
    display: block;
  }
  .menu-item {
    transition: ease-in-out 5s;
  }
  .sub-menu {
    padding: $s_5;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
}