@use "../utils/" as *;

header {
  height: auto;
  position: absolute;
  display: block;
  top: 1.5rem;
  width: 100%;
  z-index: 9999;

  @include mq("md") {
    top: 0;
  }

  .desktop-header.container {
    @include d_flex(row, space-between, stretch, nowrap, false, 0);
    padding: $s_3;

    .contain {
      display: flex;
      min-width: 30%;
      gap: $s_6;

      .logo-contain {
        a {
          display: flex;
          height: 100%;
          align-items: center;

          img {
            height: 100%;
            width: auto;

            @include mq("md") {
              max-width: 3.5rem;
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    .menu-nav {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(12px);

      div {
        height: 100%;
      }

      ul {
        @include d_flex(row, center, center, nowrap, false, $s_1);
        margin: 0;
        padding: 0 $s_2;
        height: 100%;
        color: $clr_natural_1;
        position: relative;

        li {
          margin: 0;
          padding: 0;
          display: flex;

          a {
            display: block;
            white-space: nowrap;
            padding: 0.75rem;
            border-bottom: 1px solid transparent;
            transition: color 0.3s ease, border-bottom-color 0.3s ease;

            &:hover {
              color: $clr_primary_main;
              border-bottom-color: $clr_primary_main;
            }
          }

          &.menu-item-has-children {
            > a {
              @include make_icon("\eb75");

              &::before {
                padding-right: $s_2;
              }
            }

            ul.sub-menu {
              position: absolute;
              display: none;
              right: 0;
              top: calc(100% + $s_2);
              margin: 0;
              padding: $s_2;
              flex-direction: column;
              height: auto;
              background-color: rgba(0, 0, 0, 0.5);
              backdrop-filter: blur(12px);

              &::before {
                content: "";
                position: absolute;
                display: block;
                width: calc(100% + $s_4);
                height: $s_3;
                top: -$s_3;
                left: 0;
                z-index: -1;
                background-color: transparent;
              }
            }

            &:hover {
              ul.sub-menu {
                display: flex;
              }
            }
          }
        }
      }
    }

    .mobile_nav_menu {
      display: flex;
      align-items: center;

      i {
        display: flex;
        color: $clr_natural_1;
        font-size: 24px;
        padding: $s_2;
      }

      @include mq_min("md") {
        display: none;
        visibility: hidden;
      }
    }
  }

  #mobile-menu-modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    padding: $s_4;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    visibility: hidden;
    opacity: 0;
    z-index: -999;
    transition: 0.3s ease;

    &.active {
      display: block;
      visibility: visible;
      z-index: 9999;
      opacity: 1;
    }

    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 25rem;
      height: 100%;
      padding: $s_4;
      margin: 0 auto;
      background-color: #fff;
      gap: 1rem;

      .mobile-menu {
        &-top {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          .logo {
            a {
              display: flex;

              img {
                max-width: 4rem;
                height: auto;
              }
            }
          }

          .close {
            display: flex;
            align-items: center;

            * {
              pointer-events: none;
            }

            i {
              display: flex;
              font-size: 24px;
              padding: $s_2;
            }
          }
        }

        &-search {
          display: block !important;
          flex: unset;

          form {
            background-color: var(--clr-bg-paper);
            backdrop-filter: none;
          }
        }

        &-nav {
          flex: 1 1 auto;
          overflow-y: auto;

          ul {
            position: relative;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            overflow: hidden;

            li {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin: 0;
              padding: 0;
              width: 100%;
              font-size: 1rem;

              &.menu-item-has-children {
                > a {
                  @include make_icon_after("\eb75");
                }
              }

              a {
                display: flex;
                align-items: center;
                gap: 0.5rem;
              }

              ul {
                width: 100%;
                margin-block: 0.5rem;
                margin-inline-start: 1.75rem;

                li {
                  color: var(--clr-natural-7);
                  font-size: 0.95rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
