@use "../../utils/" as *;

.header-search {
  width: 100%;
  form {
    @include d_flex(row, start, center, nowrap, false, $s_4);
    background-color: rgba($clr_secondary_dark, 0.5);
    padding: $s_3 $s_3;
    button {
      background-color: $clr_primary_main;
      padding: $s_2;
      border: 0;
    }
    input::placeholder {
      color: $clr_secondary_light;
    }
  }
  @include mq("lg") {
    display: none;
  }
}
