/* Error: expected "{".
 *     ,
 * 292 | >>>>>>> a42af6e163bfaba4a02cf0f4df974a6406e0dee9
 *     |                                                 ^
 *     '
 *   assets\scss\pages\_home-page.scss 292:49  @forward
 *   assets\scss\pages\_index.scss 10:1        @forward
 *   assets\scss\index.scss 4:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 292 \2502  >>>>>>> a42af6e163bfaba4a02cf0f4df974a6406e0dee9\d\a     \2502                                                  ^\a     \2575 \a   assets\\scss\\pages\\_home-page.scss 292:49  @forward\a   assets\\scss\\pages\\_index.scss 10:1        @forward\a   assets\\scss\\index.scss 4:1                root stylesheet';
}
