/* Error: expected "{".
 *    ,
 * 66 |     display: block;
 *    |                   ^
 *    '
 *   assets\scss\utils\_general.scss 66:19  @forward
 *   assets\scss\utils\_index.scss 5:1      @forward
 *   assets\scss\index.scss 1:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 66 \2502      display: block;\d\a    \2502                    ^\a    \2575 \a   assets\\scss\\utils\\_general.scss 66:19  @forward\a   assets\\scss\\utils\\_index.scss 5:1      @forward\a   assets\\scss\\index.scss 1:1             root stylesheet';
}
