@use "../utils/" as *;
.blog-page {
  .blog-archive {
    @include d_flex(row-reverse, start, start, nowrap, false, $s_4);
    .blog-main {
      width: 70%;
      .blog-head {
        @include d_flex($j_c: space-between);
        ul {
          display: -webkit-box;
          padding: $s_3 0;
          gap: $s_3;
          overflow: auto;
          max-width: 100%;
          li {
            border-color: rgba(0, 0, 0, 0);
            transition: all ease-in-out 1s;
            @include fs("body");
            min-height: 50px;
            &:hover {
              transition: all ease-in-out 0.7s;
              border-bottom: $b_1;
            }
            &.current-cat {
              transition: all ease-in-out 3s;
              border-bottom: $b_1;
              @include make_icon("\e9a6");
              &::before {
                color: $clr_primary_main;
              }
            }
            i {
              color: $clr_primary_dark;
            }
            @include mq("md") {
              background-color: $clr_bg_paper;
              padding: $s_4;
            }
          }
        }
        @include mq("md") {
          flex-direction: column-reverse;
          align-items: start;
        }
      }
      @include mq("md") {
        width: 100%;
      }
    }
    @include mq("md") {
      flex-direction: column-reverse;
    }
  }
}
