@use '../utils/' as *;

.contact-us {
  .banner {
    @include d_flex($a_i: center);
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 12rem 2rem;

    .container {
      @include d_flex(row, start, center, nowrap, true, 147px);
      color: $clr_natural_1;

      p {
        @include fs('title-s');

        @include mq('lg') {
          @include fs('h2');
        }
      }
      .contact {
        width: 100%;
        button[type='submit'] {
          @include d_flex(row, center, center);
        }
        h2 {
          margin-bottom: $s_3;
        }
      }
      .title {
        @include fs('title-s');
      }
      @include mq('lg') {
        gap: $s_2;
      }
      @include mq('lg') {
        flex-direction: column;
        gap: $s_2;
        $even_column: true;
        margin-top: $s_5;
      }
    }
  } //banner
}
