@use "../utils/" as *;

main.main.home {
  min-height: 50vh;

  section.home-head-slider {
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    .swiper {
      position: relative;
      isolation: isolate;

      .swiper-wrapper {
        .swiper-slide {
          position: relative;
          isolation: isolate;
          display: block;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 21/9;
          }
        }
      }

      .container {
        position: relative;
        isolation: isolate;
        z-index: 9;

        .slide-details {
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
          left: 0;
          bottom: 6rem;
          width: 50%;
          z-index: 9;

          * {
            color: $clr_accent_text;
          }

          .bg-filter {
            padding: 1.25rem;
            background-color: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(12px);
          }

          .title h2 {
            font-size: 60px;
            line-height: 70px;
          }

          .deliver {
            display: flex;
            gap: 1.25rem;

            form {
              margin-top: 1.25rem;
              display: flex;
              gap: 0.5rem;
              flex-wrap: wrap;

              label {
                width: 100%;

                &,
                * {
                  color: rgba(#fff, 0.6);
                }
              }

              input {
                position: relative;
                display: block;
                flex: 1 1 auto;
                padding: 0.5rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                appearance: none;
                outline: none;
                background-color: #fff;
                max-width: 100%;
                color: $clr_primary_text;

                &:focus-visible {
                  outline: 0;
                }

                &::placeholder {
                  color: rgba(0, 0, 0, 0.5);
                }
              }
            }

            > a {
              text-align: center;
              display: flex;
              align-items: center;

              h3 {
                @include inline-text();

                i {
                  font-size: 2em;
                }
              }
            }
          }

          @include mq("md") {
            position: relative;
            width: 100%;
            bottom: 0;
          }
        }
      }

      .swiper-pagination {
        bottom: 0.75rem;

        .swiper-pagination-bullet {
          height: 6px;
          width: 6px;
          border-radius: 3px;
          opacity: 1;
          background-color: $clr_accent_text;
          transition: all 0.25s linear;

          &.swiper-pagination-bullet-active {
            width: 6px * 6;
            background-color: $clr_primary_main;
          }
        }
      }
    }
  }

  .home__top-blogs {
    min-height: 10rem;

    &__posts {
      @include d_flex($gap: $s_6);

      @include mq("lg") {
        display: none;
      }

      &__card {
        @include d_flex($a_i: end);
        flex: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 545px;
        transition: $t_1;

        &:hover {
          flex: 2;
        }

        &__content {
          @include d_flex(column, $gap: $s_3);
          background: $clr_bg_blur;
          min-height: 208px;
          min-width: 100%;
          padding: $s_5;
          color: $clr_text_contrast;

          &__title {
            @include fs("h2");
            @include max_line(2);
          }

          &__expert-and-btn {
            @include fs("body-s");

            @include d_flex(row, center, center, $gap: $s_6);

            > p {
              @include max_line(1);
            }

            > button {
              padding: $s_3;
              > i {
                display: inline-flex;

                &::before {
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }

      &__mobile {
        @media (min-width: 993px) {
          display: none;
        }
      }
    }
  }

  .home__video {
    &__content {
      position: relative;

      .video-cover {
        position: absolute;
        min-width: 100%;
        height: 100%;
        top: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: border-box;
        overflow: hidden;

        filter: brightness(70%);

        &::before {
          display: inline-block;
          content: "";
          width: 100%;
          height: 100%;
          position: static;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-clip: border-box;
          transition: $t_1;
        }

        > i {
          @include d_flex(row, center, center);
          width: $s_14;
          height: $s_14;
          background: $clr_bg_blur;
          border-radius: 50%;
          position: absolute;
          inset: 0;
          margin: auto;

          &::before {
            color: $clr_bg_default;
            font-size: $s_10;
            margin-inline-start: $s_1;
          }
        }
      }
    }
  }
}

.without-cover {
  display: none;
}
