@use '../utils/' as *;
.archive-product {
	.banner {
		width: 100%;
		min-height: 80vh;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		@include d_flex(row, flex-start, center);

		p {
			position: relative;
			color: $clr_natural_1;
			@include fs('title-s');
			width: 50%;
			padding-left: $s_10;
		}

		@include mq('md') {
			min-height: 60vh;
			justify-content: flex-end;
			align-items: flex-end;

			p {
				@include fs('h2');
				width: 100%;
				padding-inline-start: $s_4;
				padding-block-end: 2rem;
			}
		}
	}

	.container {
		@include d_flex(row-reverse, start, start, nowrap, false, 0);
		color: $clr_natural_9;
		margin-block-start: 4rem;

		.sidebar {
			min-width: 40%;
		}
		.allproduct {
			min-width: 40%;

			.product-card {
			}
			.products {
				display: grid;

				grid-template-columns: repeat(2, 1fr);
				gap: $s_6;
			}
		}

		@include mq('lg') {
			flex-direction: column-reverse;
		}
	}
}
