@use "../utils/" as *;
.archive-product {
  .banner {
    width: 100%;
    height: 80vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    @include d_flex(column, center, flex-start, nowrap, false, 0);

    p {
      position: relative;
      top: 50%;
      width: 50%;
      transform: translateY(-50%);
      color: $clr_natural_1;
      @include fs("title-s");
      @include mq("md") {
        @include fs("body");
      }
    }
    @include mq("md") {
      height: 35vh;
    }
  }
  .container {
    @include d_flex(row-reverse, start, start, nowrap, false, 0);
    color: $clr_natural_9;
    .sidebar {
      width: 48%;
      @include d_flex(column, start, start, nowrap, false, 0);
      @include mq("md") {
        width: 100%;
      }
    }
    .allproduct {
      width: 80%;
      padding: $s_4;
      h2 {
        padding: $s_3 0;
      }
      .products {
        @include d_flex(row, start, start, wrap, false, $s_12);

        .product-card {
          margin-bottom: $s_3;
        }
        img {
          width: 100%;
          aspect-ratio: 403/503;
          @include mq("md") {
            aspect-ratio: 143/120;
          }
        }
        .detail {
          a {
            width: 70%;
            display: block;
            float: left;
          }
          .paragraph {
            @include fs("h3");
            -webkit-line-clamp: 1;
            @include mq("md") {
              -webkit-line-clamp: 3;
            }
          }
          .cat-name {
            display: none;
            @include mq("md") {
              display: block;
              white-space: nowrap;
            }
          }
          i {
            // background-color: $clr_secondary_dark;
            color: $clr_natural_1;
            padding: 0.5rem;
          }
          .cat {
            float: right;
            position: relative;
            top: 0;
            @include mq("md") {
              float: none;
            }
          }
        }
        @include mq("md") {
          display: block;
        }
      }
      @include mq("md") {
        width: 100%;
      }
    }
    @include mq("md") {
      flex-direction: column-reverse;
    }
  }
}
