@use "../utils/" as *;
.product {
  margin-top: 15vh;
  .gallery {
    @include d_flex(row, space-between, flex-start, nowrap, true, $s_4);
    width: 100%;
    img {
      aspect-ratio: 12/11;
      margin-right: $s_3;
      @include mq("md") {
        width: 30%;
      }
    }
    .buttons {
      div {
        right: auto;
        left: 10%;
        padding: $s_4 $s_6;
        &::after {
          color: white;
        }
      }
      .swiper-button-next {
        top: 55%;
        background-color: $clr_secondary_light;
        @include mq("md") {
          left: auto;
          right: 1%;
          top: 50%;
        }
      }
      .swiper-button-prev {
        top: 45%;
        background-color: $clr_secondary_dark;
        @include mq("md") {
          left: 1%;
          top: 50%;
        }
      }
    }

    .product_detail {
      margin-bottom: $s_10;
      .titr {
        @include d_flex(row, space-between, center, nowrap, false, 0);
        span {
          color: $clr_secondary_light;
        }
        .product-title {
          width: fit-content;
          white-space: nowrap;
        }

        @include mq("md") {
          flex-direction: row;
          align-items: start;
          margin-bottom: $s_5;
        }
      }
      .product-content p {
        color: $clr_secondary_light;
      }
      @include mq("md") {
        margin-bottom: 0;
      }
    }
    @include mq("md") {
      padding: 0;
      flex-direction: column;
    }
  }
  .footer-product {
    margin-bottom: $s_10;
    .like-product {
      h2 {
        padding: $s_8 0;
      }
    }
  }
  @include mq("md") {
    margin-top: 0;
    padding: 0;
  }
}
