@use "../../../utils/" as *;
//card of sigle product
.products {
  @include d_flex(row, start, center, nowrap, true, $s_3);
  .product-card {
    max-width: 320px;
  }
  img {
    width: 100%;
    @include mq("md") {
      width: 30%;
      aspect-ratio: 4/3;
    }
  }
  .detail {
    @include d_flex(row, space-between, center, nowrap, false, 0);

    .cat-name {
      display: none;
    }
  }

  @include mq("md") {
    flex-direction: column;
    .product-card {
      padding: $s_5;
      background-color: $clr_bg_paper;

      img {
        width: 80%;
        aspect-ratio: 143/120;
      }
      .card {
        @include d_flex(row, start, center, nowrap, true, $s_4);
      }
      .detail {
        display: block;
        i {
          display: none;
        }
        .cat {
          @include fs("caption");
          color: $clr_secondary_light;
          line-height: 30px;
        }
      }
    }
  }
}
.cat {
  i::before {
    background-color: $clr_natural_9;
    color: $clr_natural_1;
    padding: $s_2;
  }
}
