@use "../../../utils/" as *;
//card of sigle product
.products {
  @include d_flex(row, start, center, nowrap, true, $s_3);
  .product-card {
    max-width: 25%;
    img {
      width: 100%;
      @include mq("md") {
        aspect-ratio: 1/1;
      }
    }
    .detail {
      @include d_flex(row, space-between, center, nowrap, false, 0);
      .cat-name {
        display: none;
        @include mq("md") {
          display: flex;
        }
      }
      @include mq("md") {
        display: block;
      }
    }
    @include mq("md") {
      max-width: 100%;
      padding: $s_4;
      background-color: $clr_bg_paper;
    }
  }
  @include mq("md") {
    flex-direction: column;
    .card {
      @include d_flex(row, center, center, nowrap, true, $s_4);
      a {
        display: flex;
      }
    }
    .detail {
      i {
        display: none;
      }
      .cat {
        @include fs("caption");
        color: $clr_secondary_light;
        line-height: 30px;
      }
    }
  }
}
.cat {
  i::before {
    background-color: $clr_natural_9;
    color: $clr_natural_1;
    padding: $s_2;
  }
}
