@use "../../../utils/" as *;
.sidebar {
  .products {
    flex-direction: column;
    .product-card {
      padding: $s_5;
      background-color: $clr_bg_paper;
      margin-bottom: $s_3;
      img {
        width: 47%;
        aspect-ratio: 143/120;
      }
      .card {
        @include d_flex(row, start, center, nowrap, true, $s_4);
      }
      .detail {
        display: block;
        i {
          display: none;
        }
        .cat {
          @include fs("caption");
          color: $clr_secondary_light;
          line-height: 30px;
        }
      }
    }
  }
}
