@use "../../../utils/" as *;
//qustion in property from single product
#tab4Content {
  div {
    margin: $s_6;
    .question {
      @include fs("h3");
    }
    .answer {
      color: $clr_secondary_light;
    }
    @include mq("md") {
      margin: 0;
    }
  }
}
